@font-face {
    font-family: 'Graphik LCG';
    src: url('/fonts/GraphikLCG-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('/fonts/GraphikLCG-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Graphik LCG';
    font-style: normal;
    font-display: swap;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.header-wrap {
    width: 1338px;
    height: 95px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding-right: 51px;
}

.header-left {
    display: flex;
}

.header-menu {
    display: flex;
}

.menu {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 7px;
}

.first {
    padding-right: 57px;
}

.second {
    padding-right: 42px;
}

.third {
    padding-right: 49px;
}

.header-button {
    display: flex;
    align-items: center;
}

.button-header-left {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    width: 120px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-right: 6px;
}

.button-header-right {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #FF6336;
    width: 120px;
    height: 45px;
    border: none;
}

.accelerate-wrap {
    width: 1298px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.section-accelerate {
    padding-top: 129px;
    padding-bottom: 172px;
}

.tittle-accelerate {
    width: 552px;
    padding-bottom: 51px;
}

h1 {
    color: #000000;
    font-weight: 600;
    font-size: 65px;
}

.text1 {
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    line-height: 35px;
}

.width-text-accelerate {
    width: 471px;
    padding-bottom: 51px;
}

.accelerate-button {
    display: flex;
    padding-bottom: 25px;
}

.text2 {
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}

.width-button-accelerate {
    width: 160px;

    margin-right: 6px;
}

.image-accelerate {
    width: 759px;
    height: 529px;
    padding-bottom: 22px;
}

.section-logos {
    background: #FF9C7D;
}

.logos-wrap {
    width: 1298px;
    margin: 0 auto;
    background: #FF9C7D;
}

h2 {
    font-weight: 600;
    font-size: 50px;
    color: #000000;
    line-height: 60px;
}

.tittle-logos {
    padding: 108px 0 82px 0;
    text-align: center;
}

.logos {
    display: flex;
    justify-content: space-between;
    padding-bottom: 104px;
}

.section-control {
    padding-top: 90px;
    color: #000000;
}

.control-wrap {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text-control {
    font-weight: 400;
    font-size: 20px;
    padding: 30px 0 30px 0;
    line-height: 30px;
}

.width-control {
    width: 491px;
}

span {
    text-decoration: underline;
    color: #000000;
}

.start {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

a {
    text-decoration: none;
}

.left-control {
    padding-top: 151px;
}

.section-market {
    padding: 250px 0 250px 0;
    color: #000000;
}

.market-wrap {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left-market {
    margin-right: 50px;
}

.width-market {
    width: 450px;
}

.section-quality {
    padding-bottom: 250px;
    color: #000000;
}

.quality-wrap {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.width-quality {
    width: 520px;
}

.left-quality {
    padding-top: 161px;
}

.section-less {
    padding-bottom: 150px;
    color: #000000;
}

.less-wrap {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.right-less {
    padding-top: 123px;
}

.section-lokalise {
    background: #FFF8E4;
    color: #000000;
}

.container-lokalise {
    width: 1172px;
    margin: 0 auto;
    padding: 120px 0 97px 0;
}

.tittle-lokalise {
    text-align: center;
    padding-bottom: 79px;
}

.card-lokalise {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 75px;
}

.tittle-card {
    font-weight: 600;
    font-size: 25px;
    padding: 23px 0 23px 0;
}

.text-card {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.section-boost {
    padding: 154px 0 138px 0;
    color: #000000;
}

.boost-wrap {
    width: 1287px;
    margin: 0 auto;
}

.tittle-boost {
    padding-bottom: 92px;
}

.container-boost {
    display: flex;
    justify-content: space-between;
    padding-bottom: 49px;
}

.card-boost {
    width: 409px;
}

.tittle-card-boost {
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 34px;
}

.text-card-boost {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 25px;
    line-height: 30px;
}

.section-revolut {
    background: #C9E8F2;
    color: #000000;
}

.revolut-wrap {
    width: 1291px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 53px 0 105px 0;
    background: #C9E8F2;
}

.text-revolut {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 23px;
}

.left-revolut {
    padding-top: 10px;
    width: 921px;
}

.bottom-revolut {
    padding-bottom: 10px;
}

.section-cake {
    background: #DABC98;
    color: #000000;
}

.cake-wrap {
    background: #DABC98;
    width: 1330px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 90px 0 88px 0;
}

.text-cake {
    width: 461px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    padding-top: 26px;
}

.img-cake {
    width: 1px;
    height: 168px;
    background: #000000;
    margin-left: 130px;
}

.section-integrate {
    padding: 165px 0 162px 0;
}

.integrate-wrap {
    width: 1025px;
    margin: 0 auto;
    text-align: center;
}

.integrate-width-text {
    width: 539px;
    margin: auto;
    padding-bottom: 25px;
}

.width-integrate-button {
    width: 193px;
    margin-top: 32px;

}

.width-integrate-tittle {
    width: 791px;
    text-align: center;
    margin: auto;
}

.section-localization {
    background: #FF9C7D;
    padding-top: 119px;
}

.lokalization-wrap {
    width: 784px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 161px;
    background: #FF9C7D;
}

.text-lokalization {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.padding-lokalization {
    padding: 29px 0 54px 0;
}

.button-lokalization {
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
    width: 160px;
    height: 60px;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
}

.section-case {
    background: #EEEEEE;
    padding-top: 92px;
    color: #000000;
}

.case-wrap {
    background: #EEEEEE;
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.tittle-case {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 28px;

}

.text-case {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    padding-bottom: 21px;
}

.left-case {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 50px;
}

.bottom-case-img {
    padding-bottom: 38px;
}

.width-text-case {
    width: 290px;
    height: 90px;
    margin: 11px 0 15px 0;
}

.line-height-card {
    padding-bottom: 15px;
}

li {
    list-style: none;
}

.section-footer {
    background: #EEEEEE;
    padding-top: 95px;
    color: #000000;
}

.footer-wrap {
    width: 1290px;
    margin: 0 auto;
    padding: 47px 0 48px 0;
    display: flex;
    justify-content: space-between;
    background: #EEEEEE;
}

.text-footer {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 301px;
    margin-left: 14px;

}

.border-footer {
    background: #000000;
    width: 1290px;
    height: 1px;
    margin: auto;
}

.left-footer {
    display: flex;
}

.right-footer {
    display: flex;
    justify-content: flex-start;
    width: 170px;

}

.logo-footer {
    width: 90px;
    height: 21px;
}

.width-text-footer {
    width: 109px;
    ;
}

@media screen and (max-width: 1280px) {

    .header-section, .section-accelerate, .section-logos, .section-control, .section-market, .section-quality, .section-less, .section-boost, .section-revolut, .section-cake, .section-lokalise, .section-integrate, .section-localization, .section-case, .section-footer, .border-footer {
        width: 100%;
    }

    .header-wrap, .logos-wrap, .control-wrap, .market-wrap, .quality-wrap, .less-wrap, .boost-wrap, .revolut-wrap, .cake-wrap, .container-lokalise, .integrate-wrap, .localization-wrap, .case-wrap, .footer-wrap {
        width: 90%;
    }

    .accelerate-wrap {
        width: 86%;
    }

    .image-accelerate {
        max-width: 60%;
    }

    h1 {
        font-size: 45px;
    }

    .text1 {
        font-size: 20px;
    }

    .text2 {
        font-size: 13px;
    }

    .accelerate-left {
        width: 40%;
    }

    .width-text-accelerate {
        width: 85%;
    }

    h2 {
        font-size: 40px;
    }

    .image-control {
        width: 50%;
    }

    .left-quality {
        width: 50%;
    }

    .text-revolut {
        font-size: 20px;
    }

    .text-cake {
        font-size: 23px;
        margin-left: 50px;
    }

    .right-footer {
        justify-content: space-around;
    }

    .tittle-case {
        font-size: 35px;
    }

    .text-lokalization {
        font-size: 15px;
    }
}

@media screen and (max-width: 720px) {

    .header-section, .section-accelerate, .section-logos, .section-control, .section-market, .section-quality, .section-less, .section-boost, .section-revolut, .section-cake, .section-lokalise, .section-integrate, .section-localization, .section-case, .section-footer, .border-footer {
        width: 100%;
    }

    .header-wrap, .logos-wrap, .control-wrap, .market-wrap, .quality-wrap, .less-wrap, .boost-wrap, .revolut-wrap, .cake-wrap, .container-lokalise, .localization-wrap, .case-wrap, .footer-wrap {
        width: 90%;
    }

    .header-menu {
        display: none;
    }

    .button-header-left,
    .button-header-right {
        width: 100px;
    }

    .tittle-accelerate {
        font-size: 35px;
    }

    .section-accelerate {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .accelerate-wrap {
        display: block;
    }

    .accelerate-left {
        width: 100%;
    }

    .image-accelerate {
        display: none;
    }

    .width-button-accelerate {
        width: 120px;
    }

    .tittle-logos {
        font-size: 35px;
    }

    .logos {
        padding-bottom: 50px;
        flex-wrap: wrap;
        width: 70%;
        margin: auto;
    }

    .control-wrap {
        display: block;
    }

    .section-control {
        padding-top: 0;
    }

    .left-control {
        padding-top: 50px;
    }

    .market-wrap {
        flex-direction: column-reverse;
    }

    .section-market {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .text-control {
        font-size: 18px;
    }

    h2 {
        font-size: 35px;
    }

    .quality-wrap {
        flex-direction: column;
    }

    .section-quality {
        padding-bottom: 100px;
    }

    .left-quality {
        padding-top: 100px;
    }

    .less-wrap {
        flex-direction: column-reverse;
    }

    .right-less {
        padding-top: 0;
    }

    .image-control {
        padding-top: 25px;
    }

    .section-less {
        padding-bottom: 50px;

    }

    .section-boost {
        padding: 50px 0 30px 0;
    }

    .container-lokalise {
        padding: 50px 0 30px 0;
    }

    .tittle-card {
        font-size: 20px;
    }

    .text-card {
        font-size: 13px;
    }

    .tittle-boost {
        padding-bottom: 50px;
    }

    .tittle-card-boost {
        font-size: 20px;
    }

    .text-card-boost {
        font-size: 15px;
    }

    .left-revolut {
        width: 70%;
    }

    .text-revolut {
        font-size: 18px;
    }

    .revolut-wrap {
        padding-bottom: 50px;
    }

    .img-revolut {
        width: 200px;
        height: 200px;
    }

    .text-cake {
        font-size: 35px;
       max-width: 400px;
        padding-top: 0;
    }

    .image-cake-right {
        width: 60%;
        height: 70%;
    }

    .image-cake-left {
        display: none;
    }

    .img-cake {
        display: none;
    }

    .cake-wrap {
        display: block;
    }

    .cake-wrap {
        padding: 50px 0 30px 0;
    }

    .section-integrate {
        padding: 50px 0 30px 0;
    }

    .width-integrate-tittle {
        width: 100%;
    }

    .integrate-width-text {
        font-size: 18px;
    }

    .img-integrate {
        max-width: 550px;
    }

    h1 {
        font-size: 35px;
    }

    .section-lokalization {
        padding-top: 0;
    }

    .lokalization-wrap {
        padding-bottom: 50px;
        width: 90%;
    }

    .tittle-lokalization {
        max-width: 450px;
        margin: auto;
    }

    .left-case {
        display: none;
    }

    .section-case {
        padding-top: 50px;
    }

    .text-case {
        font-size: 17px;
    }

    .line-height-card {
        font-size: 12px;
    }

    .section-footer {
        padding-top: 30px;
    }

    .footer-wrap {
        padding: 20px 0 20px 0;
    }

    .logo-footer {
        max-width: 70px;
        max-height: 20px;
    }
}

@media screen and (max-width: 500px) {

    .header-section, .section-accelerate, .section-logos, .section-control, .section-market, .section-quality, .section-less, .section-boost, .section-revolut, .section-cake, .section-lokalise, .section-integrate, .section-localization, .section-case, .section-footer, .border-footer {
        width: 100%;
    }

    .header-wrap, .logos-wrap, .control-wrap, .market-wrap, .quality-wrap, .less-wrap, .boost-wrap, .revolut-wrap, .container-lokalise, .integrate-wrap, .localization-wrap, .case-wrap, .footer-wrap {
        width: 90%;
    }

    .tittle-accelerate {
        width: 100%;
        font-size: 25px;
    }

    .width-text-accelerate {
        width: 100%;
        font-size: 15px;
    }

    .button-header-left,
    .button-header-right {
        width: 80px;
        font-size: 13px;
    }

    .width-button-accelerate {
        width: 100px;
        font-size: 13px;
    }

    .tittle-logos {
        font-size: 30px;
        padding-top: 50px;
    }

    .logos {
        width: 90%;
    }

    .left-control {
        padding-top: 20px;
    }

    h2 {
        font-size: 30px;
    }

    .text-control {
        font-size: 14px;
        width: 100%;
    }

    .start {
        font-size: 18px;
    }

    .section-market {
        padding-top: 30px;
    }

    .left-quality {
        padding-top: 50px;
    }

    .left-quality {
        width: 100%;
    }

    .section-quality {
        padding-bottom: 50px;
    }

    .tittle-lokalise {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .tittle-card {
        font-size: 15px;
    }

    .text-card {
        display: none;
    }

    .img-lokalise {
        max-width: 100px;
    }

    .card-lokalise {
        padding-bottom: 0;
    }

    .tittle-boost {
        font-size: 25px;
        padding-bottom: 0;
    }

    .section-boost {
        padding-top: 30px;
    }

    .img-boost {
        display: none;
    }

    .tittle-card-boost {
        font-size: 18px;
    }

    .container-boost {
        flex-direction: column;
        padding-bottom: 0;
    }

    .text-card-boost {
        font-size: 15px;
    }

    .revolut-wrap {
        flex-direction: column-reverse;
    }

    .img-revolut {
        justify-content: flex-start;
    }

    .text-revolut {
        font-size: 15px;
        width: 100%;
    }

    .left-revolut {
        justify-content: flex-start;
        width: 100%;
    }

    .logo-revolut {
        max-width: 60px;
    }

    .text-cake {
        font-size: 30px;
        width: 100%;
    }

    .cake-wrap {
        width: 100%;
    }

    .width-integrate-tittle {
        font-size: 30px;
    }

    .integrate-width-text {
        font-size: 14px;
        width: 100%;
    }

    .img-integrate {
        width: 100%;
    }

    .width-integrate-button {
        font-size: 11px;
    }

    .tittle-lokalization {
        font-size: 30px;
    }

    .text-lokalization {
        font-size: 13px;
        padding-top: 10px;
    }

    .button-lokalization {
        width: 120px;
        font-size: 15px;
    }

    .section-localization {
        padding-top: 50px;
    }

    .text-case {
        font-size: 14px;
    }

    .text2 {
        font-size: 10px;
    }

    .text-footer {
        font-size: 9px;
    }

    .logo-footer {
        max-width: 50px;
        max-height: 15px;
    }
    .right-footer{
        max-width: 107px;  
        }
        .left-footer{
         max-width: 320px;   
        }
}